$blue: #57a3f3;
$gray: #666;
.card {
  letter-spacing: .5px;
  text-align: left;
  border: 1px solid $blue;
  display: inline-block;
  background: $blue;
  width: 280px;
  height: 360px;
  font: {
    size: 14px;
    weight: bold;
  }
  color: #fff;
  margin: 8px;
  vertical-align: text-bottom;
  overflow: hidden;
  transition: border .5s, border-radius 1s;
  &:not(:hover) {
    filter: blur(.3px)
  }
  &:hover {
    border: 1px solid $gray;
    border-radius: 8px;
    background: #fff;
    .card {
      &-title {
        font-size: 20px;
        line-height: 40px;
        border-radius: 7px 7px 0 0;
        box-shadow: 10px 0 10px $blue;
      }
    }
    a {
      display: block;
      color: $gray;
    }
  }
  &-title {
    font-size: 45px;
    line-height: 100px;
    width: inherit;
    text-align: center;
    display: inline-block;
    transition: font-size .3s ease-out, line-height .3s .3s, border-radius 1s;
    background: $blue;
  }
  &-list {
    padding: 5px;
    overflow: auto;
    height: 300px;
    font-size: 0;
    &__name{
      display: inline-block;
      width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 12px;
    }
  }
  &-index {
    display: inline-block;
    width: 30px;
    text-align: left;
    font-size: 12px;
    vertical-align: top;
  }
  a {
    display: block;
    color: $gray;
    text-decoration: none;
    &:hover {
      span{
        text-decoration: underline;
      }
    }
  }
}