$blue: #57a3f3;
.card {
  letter-spacing: .5px;
  text-align: left;
  border: 1px solid $blue;
  display: inline-block;
  background: $blue;
  width: 300px;
  height: 300px;
  font: {
    size: 14px;
    weight: bold;
  }
  color: #fff;
  margin: 5px;
  vertical-align: text-bottom;
  overflow: hidden;
  transition: border .5s, border-radius 1s;
  &:not(:hover) {
    filter: blur(2px)
  }
  &:hover {
    border: 1px solid gray;
    border-radius: 8px;
    background: #fff;
    .card {
      &-title {
        font-size: 20px;
        line-height: 50px;
        border-radius: 7px 7px 0 0;
      }
    }
    a {
      display: block;
      color: #666;
    }
  }
  &-title {
    font-size: 60px;
    line-height: 250px;
    width: inherit;
    text-align: center;
    display: inline-block;
    transition: font-size .3s, line-height .5s .3s, border-radius 1s;
    background: $blue;
  }
  &-list{
    padding: 5px;
    overflow: auto;
    height: 240px;
  }
  a {
    display: none;
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}